<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/dashboard.css" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- Nav -->
      <header class="header">
        <div class="header-wrapper">
          <div class="header-title">
            <a href="/dashboard" class="header-item header-link">Dashboard</a>
          </div>
          <div class="nav">
            <a href="/" class="nav-item">Home</a>
            <a href="/db-post" class="nav-item">New Post</a>
            <!-- <a href="/" class="nav-item">Setting</a> -->
            <a href="/logout" class="nav-item">Logout</a>
          </div>
        </div>
      </header>
      <!-- Main -->
      <main class="main">
        <div class="container">
          <div class="menu">
            <ul class="menu-nav">
              <li class="submenu">
                <div class="sub-title"><a href="/dashboard" class="submenu-item">文章管理</a></div>
              </li>
              <li class="submenu selected">
                <div class="sub-title"><a href="/db-about" class="submenu-item">關於</a></div>
              </li>
              <li class="submenu">
                <div class="sub-title"><a href="/db-contact" class="submenu-item">聯絡</a></div>
              </li>
              <li class="submenu">
                <div class="sub-title"><a href="/db-comment" class="submenu-item">留言</a></div>
              </li>
              <li class="submenu">
                <div class="sub-title"><a href="/db-settings" class="submenu-item">設定</a></div>
              </li>
            </ul>
          </div>
          {% if params.article %}
          <div class="main-table">
            <div class="head-row">
              <h2>
                編輯文章
              </h2>
            </div>
            <form class="main-form" method="post" enctype="multipart/form-data">
              <div class="form-item">
                <label class="form-item-label">主標題</label>
                <div class="form-item-content">
                  <input type="text" autocomplete="off" class="form-item-input" name="title" value="{{params.article.title}}" required/>
                </div>
              </div>
              <div class="form-item">
                <label class="form-item-label">副標題</label>
                <div class="form-item-content">
                  <input type="text" autocomplete="off" class="form-item-input" name="subtitle" value="{{params.article.subtitle}}" />
                </div>
              </div>
              <div class="form-item">
                {% if params.article.bg_image %}
                <label class="form-item-label">背景圖</label>
                <div class="form-item-content">
                  <div class="upload-icon">
                    <i class="fas fa-plus uploader-icon" style="display: none;"></i>
                    <input type="file" class="form-item-upload" name="bg-img-upload" />
                    <img id="demo" src="/static/{{params.article.bg_image}}">
                  </div>
                  {% else %}
                  <label class="form-item-label">背景圖</label>
                <div class="form-item-content">
                  <div class="upload-icon">
                    <i class="fas fa-plus uploader-icon"></i>
                    <input type="file" class="form-item-upload" name="bg-img-upload" />
                    <img id="demo">
                    </div>
                    {% endif %}
                </div>
              </div>
              <div class="form-item">
                <label class="form-item-label">內文</label>
                <div class="form-item-content">
                  <textarea class="form-item-input form-item-textarea" name="content" required>{{params.article.content}}</textarea>
                </div>
              </div>
              <div class="form-item">
                <label class="form-item-label"></label>
                <div class="form-item-content">
                  <button type="submit" class="btn btn-primary btn-lg">保存</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script>
      ClassicEditor
              .create( document.querySelector( '.form-item-textarea' ) )
              .then( editor => {
                      console.log( editor );
              } )
              .catch( error => {
                      console.error( error );
              } );
</script>
  </body>
</html>
